body {
    background-color: #5fddc4;
  }
  .inicio  {
    color: purple;
    font-size: medium;
    text-align: center;
  }
  .desarrollo p {
    color: blue;
    font-size: 20px;
  }
  .picture img{
   display: block;
   margin: auto;
}